:root {
  --aniDuration: 0.5s;
  --num: 0;
  --score: 0;
  --headerHeight: 100px;
  --backgroundColor: #cfcfcf;
  --white: white;
  --highlight: orange;
  --tileColor: #fde6b1;
  --green: #00bf00;
  --red: #bf0000;
  --orange: #ff7f00;
  --yellow: #ffff00;
  --blue: #0000ff;
  --indigo: #4b0082;
  --violet: #8b00ff;
  --brown: #8b4513;
  --borderRadius: 20px;
  --border: 1px solid grey;
  --padding: 20px;
  --margin: 20px;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --score {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
  user-select: none;
  color: var(--white);
}

p {
  margin: 0;
}

.f,
#grid .row {
  display: flex;
}
.fs {
  display: flex;
  justify-content: space-between;
}

.w100,
#grid .row {
  width: 100%;
}

#weatherIcon {
  width: 50px;
  height: 40px;
  background-color: black;
  --aniDuration: 1.5s;
  transition-property: var(--aniDuration);
  overflow: hidden;
  padding: 5px;
  margin-right: 4px;
  transition-timing-function: linear;
}

#weatherIcon.sun {
  background-color: #00009c;
}

.rainbow {
  background: linear-gradient(in hsl longer hue 45deg, var(--red) 0 100%);
}

#wAni:before,
#wAni:after,
.rain #rain:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
  border-radius: 50px;
  top: 5px;
  background-color: var(--yellow);
}
#wAni:after {
  top: -5px;
}

.moon #wAni:after,
.rain #wAni:after {
  left: 3px;
  background-color: black;
}

.sun #wAni:after {
  box-shadow: 0px 0px 10px 0px var(--orange);
  left: unset;
  background-color: var(--yellow);
}

#wAni {
  transform: translate(var(--wAniProg), 0px);
  transition-duration: var(--aniDuration);
}

.rain #rain {
  background-color: var(--blue);
  height: 10px;
  width: 10px;
  border-radius: 50px;
  margin: 5px;
  box-shadow: inset 0px 0px 1px 0px var(--white);
}

.rain #rain:after {
  top: -1px;
  border-radius: 50px 0px 0px 0px;
  transform: rotate(225deg);
  width: 5px;
  height: 5px;
  left: 3px;
  background-color: inherit;
}

#tributeTracker {
  border: var(--border);
  margin: 2px;
  width: 150px;
  position: relative;
}
#tributeTracker > div {
  width: var(--prog);
  position: absolute;
  height: 18px;
  background-color: var(--violet);
  top: 0px;
  transition-duration: var(--aniDuration);
  box-shadow: 0px 0px 2px 0px var(--blue);
  transition-timing-function: linear;
}
#tribute {
  position: relative;
  text-align: center;
}

#payTribute {
  margin: 2px;
  margin-right: 10px;
}
.res {
  margin: 2px;
  position: relative;
}

#corn {
  counter-reset: num var(--num);
  transition: --num 1s;
}
#corn:after {
  content: counter(num);
  min-width: 25px;
}
#uni {
  counter-reset: score var(--score);
  transition: --score 1s;
}
#uni:after {
  content: counter(score);
  min-width: 25px;
}

#grid {
  margin: auto;
  border: var(--border);
  box-sizing: border-box;
}

.tile {
  box-sizing: border-box;
  border: var(--border);
  min-width: var(--tileScale);
  min-height: var(--tileScale);
  border-color: #6969690a;
}

.btn {
  cursor: pointer;
  background-color: var(--dynamicColor);
  transition-duration: var(--aniDuration);
}

.btn:hover {
  background-color: var(--highlight);
  text-shadow: 0px 0px 1px black;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
#main:before {
  content: " " attr(p) " ";
  position: absolute;
}

/* ENTITIES */
.cornHub {
  position: relative;
  background-color: var(--green);
  height: 100%;
  width: calc(var(--tileScale) / 4);
  margin-left: calc(var(--tileScale) / 3);
  z-index: 1;
  box-shadow: inset 0px 0px 1px 0px var(--brown);
  transition-duration: var(--aniDuration);
}
.cornHub.root {
  border-bottom: 1px solid var(--brown);
  transform: translate(0px, -3px);
}

.cornHub.root:before,
.cornHub.mid:before {
  content: "";
  background-color: var(--green);
  height: 4px;
  width: 20px;
  display: block;
  transform: rotate(-65deg);
  border-radius: 0px 0px 40px 0px;
}

.cornHub.root.lvl1:before {
  height: 6px;
  transform: rotate(283deg) translate(3px, -1px);
  width: 10px;
  border-top: 1px solid var(--orange);
  border-right: 1px solid var(--brown);
}
.cornHub.root.lvl2:before {
  transform: rotate(278deg) translate(7px, -3px);
}
.cornHub.root.lvl3:before {
  transform: rotate(286deg) translate(14px, -7px);
}

.cornHub.mid {
  z-index: 2;
  box-shadow: inset 0px 1px 1px 0px var(--brown);
}
.cornHub.mid:before {
  transform: rotate(240deg) translate(-10px, -20px);
}
.cornHub.top {
  background-color: var(--yellow);
  transform: translate(0px, 2px);
  --s: calc(var(--tileScale) / 8);
  --c1: var(--orange);
  --c2: var(--yellow);
  --_l: #0000 43.75%, var(--c1) 0 56.25%, #0000 0;
  background:
    conic-gradient(#0000 75%, var(--c1) 0) calc(var(--s) / -8)
      calc(var(--s) / -8) / calc(var(--s) / 2) calc(var(--s) / 2),
    repeating-conic-gradient(var(--c2) 0 25%, #0000 0 50%) calc(var(--s) / -4)
      calc(var(--s) / -4) / var(--s) var(--s),
    linear-gradient(-45deg, var(--_l)) 0 0 / var(--s) var(--s),
    linear-gradient(45deg, var(--_l)) 0 0 / var(--s) var(--s) var(--c2);
  border-radius: 3px 3px 0px 0px;
  z-index: 3;
}

.cornHub.top:before,
.cornHub.top:after {
  content: "";
  background-color: var(--green);
  height: 8px;
  width: 25px;
  display: block;
  transform: rotate(294deg) translate(-17px, 3px);
  border-radius: 0px 40px 0px 40px;
  z-index: 3;
  position: absolute;
}
.cornHub.top:before {
  height: 5px;
  transform: rotate(-96deg) translate(-17px, -14px);
  border-radius: 0px 0px 40px 0px;
}

.cornHub.top.lvl2:before,
.cornHub.top.lvl3:before,
.cornHub.top.lvl2:after {
  height: 6px;
}

.cornHub.top.lvl2 {
  --c2: var(--green);
  height: 50%;
  top: 50%;
}
.cornHub.top.lvl4,
.cornHub.top.lvl5 {
  width: calc(var(--tileScale) / 2.5);
  height: 100%;
  margin-left: calc(var(--tileScale) / 3.2);
  box-shadow: 0px 0px 4px 0px #fdfdfd;
}
.cornHub.top.lvl5 {
  background-blend-mode: exclusion;
  --c1: aquamarine;
  --c2: springgreen;
  box-shadow: 0px 0px 4px 0px var(--orange);
}
.cornHub.top.lvl4:after,
.cornHub.top.lvl5:after {
  transform: rotate(294deg) translate(-15px, 8px);
}

.unicorn.body {
  width: 85%;
  height: 65%;
  margin-left: 5%;
  margin-top: 15%;
  background: var(--white);
  border-radius: 45% 50% 35% 30%;
}

.unicorn.head {
  width: 75%;
  height: 75%;
  margin-left: 15%;
  margin-top: 10%;
  background: var(--white);
  border-radius: 55% 50% 45% 40%;
}

.unicorn.tail {
  width: 55%;
  height: 45%;
  margin-top: 25%;
  margin-left: 5%;
  background: var(--white);
  border-radius: 50%;
}

.unicorn.legs {
  width: 65%;
  height: 75%;
  margin-left: 15%;
  margin-top: -5%;
  background: var(--white);
  border-radius: 0 0 35% 35%;
}
.entity.attack {
  transform: skew(10deg, 10deg);
}
.entity.dying {
  animation: die 0.3s linear forwards;
}
.entity.harvested {
  animation: harvest 0.3s linear forwards;
}
.cornHub.top.entity.harvested {
  --s: 2px;
  --c2: var(--brown);
  --c1: var(--backgroundColor);
}

.pos {
  color: var(--green);
}
.neg {
  color: var(--red);
}

@keyframes rain {
  0% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
      -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
      -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
      -0.875em 1.125em 0 -0.125em #0cf,
      -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow:
      0.625em 0.875em 0 -0.125em #0cf,
      -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
      -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
      -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
      -1.375em -0.125em 0 #0cf;
  }
}

@keyframes die {
  0% {
    filter: sepia(0);
  }
  20% {
    filter: sepia(0.8);
  }
  80% {
    filter: sepia(0.9);
    transform: scale(0.6);
  }
  100% {
    filter: sepia(1);
    transform: scale(0);
  }
}
@keyframes harvest {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
    transform: scale(0.6);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
